@import "@angular/material/prebuilt-themes/indigo-pink.css";

html,
body {
    height: 100%;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: var(--primary-background-color);
    color: var(--primary-text-color);
}

// HEADER [START]
.router-link {
    color: var(--primary-text-color);
    text-decoration: none;
    transition: background-color 0.3s;
    border-radius: 4px;
    cursor: pointer;
}

.router-link:hover {
    color: var(--hover-background-color);
}
// HEADER [END]

i{
    margin: 4px;
}


// TOAST MSG WO INFLUENCE ON UI [START]
.toast-container {
    position: fixed; /* Ensures the toast doesn't affect layout */
    top: 0;
    right: 0;
    z-index: 9999;
    width: auto; /* Set an appropriate width */
    max-width: 300px; /* Optional: limit the width to avoid wide messages */
}

.toast {
    margin: 0; /* Prevents extra margin/padding that could affect layout */
}
// TOAST MSG WO INFLUENCE ON UI [END]