<mat-toolbar color="primary">

    <div fxHide.gt-xs>
        <button mat-icon-button (click)="onToggleSidenav()" onclick="this.blur()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>

    <div mat-button routerLink="/account" style="cursor: pointer;">SignalR Game Demo</div>

    <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>

        <div fxLayout fxLayoutGap="10px">
            <button mat-button *ngIf="appService.isAdminUser()" routerLink="/user-connection-state">{{connBtn}}
            </button>
            <button mat-button routerLink="/game-manager">{{rspBtn}}</button>
            <button mat-button *ngIf="!isAuthenticated() && !isRegisterMode()" (click)="onAccessMode()">SignUp</button>
            <button mat-button *ngIf="!isAuthenticated() && isRegisterMode()" (click)="onAccessMode()">Login</button>
            <button mat-button *ngIf="isAuthenticated()" (click)="onLogout()">Logout</button>
        </div>
    </div>

</mat-toolbar>