::ng-deep mat-sidenav {
  width: 250px;
  background-color: rgba(0, 0, 0, 0.3) !important;  /* Прозорий чорний фон */
  backdrop-filter: blur(10px);  /* Ефект розмиття для кращого контрасту */
  color: white;  /* Білий текст та іконки */
  background-image: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0.2) 75%,
    transparent 75%,
    transparent
  );  /* Штриховий фон */
  background-size: 10px 10px;
}

.sidenav-list {
  padding: 0;
  margin: 0;
  height: 100%;
}

mat-nav-list a {
  color: white;  /* Білий текст для навігаційних елементів */
}

mat-nav-list button {
  color: white;  /* Білий колір для кнопок */
}

// .sidenav-link {
//   display: flex;
//   align-items: center;
//   padding: 10px 16px;
//   color: white;
//   text-transform: uppercase;
//   letter-spacing: 1px;
//   transition: background-color 0.3s, color 0.3s;
//   white-space: nowrap;  /* Текст в один рядок */
//   overflow: hidden;
//   text-overflow: ellipsis;  /* Додаємо трохи еліпсів для тексту, який не вміщується */

//   i {
//     margin-right: 10px;
//   }

//   &:hover {
//     background-color: rgba(255, 255, 255, 0.2);  /* Ефект наводження */
//     color: #ffeb3b;  /* Жовтий на наводженні */
//   }
// }

// .mat-divider {
//   background-color: rgba(255, 255, 255, 0.1);  /* Розділювальна лінія */
// }

// button.sidenav-link {
//   background: none;
//   border: none;
//   width: 100%;
//   text-align: left;
// }

// button.sidenav-link:hover {
//   background-color: rgba(255, 255, 255, 0.2);
// }

// /* Адаптивний дизайн для мобільних пристроїв */
// @media (max-width: 600px) {
//   .sidenav-link {
//     font-size: 14px;  /* Зменшений шрифт для мобільних пристроїв */
//   }

//   .sidenav-list {
//     padding: 8px;  /* Зменшуємо відступи для мобільних версій */
//   }

//   /* Ховаємо довші імена кнопок на мобільних */
//   .sidenav-link:not(.short-label) {
//     display: none;  /* Приховуємо довгі кнопки */
//   }
// }
