<div fxFlex fxLayout="column">
    <!-- TABLE SCORE -->
    <div class="boarded" fxFlex="12%" fxLayout="column">
        <div fxFlex fxLayout="row">
            <div fxFlex fxLayoutAlign="center center">{{ getPlayerName() }}</div>
            <div fxFlex fxLayoutAlign="center center">{{ getOpponentName() }}</div>
        </div>
        <div fxFlex fxLayout="row">
            <div fxFlex fxLayoutAlign="center center" *ngFor="let column of displayedColumns">{{ column }}</div>
            <div fxFlex fxLayoutAlign="center center" *ngFor="let column of displayedColumns">{{ column }}</div>
        </div>
        <div fxFlex fxLayout="row">
            <div fxFlex fxLayoutAlign="center center">{{ getPlayerWins(false) }}</div>
            <div fxFlex fxLayoutAlign="center center">{{ getPlayerLoses(false) }}</div>
            <div fxFlex fxLayoutAlign="center center">{{ getPlayerDraws(false) }}</div>
            <div fxFlex fxLayoutAlign="center center">{{ getPlayerWins(true) }}</div>
            <div fxFlex fxLayoutAlign="center center">{{ getPlayerLoses(true) }}</div>
            <div fxFlex fxLayoutAlign="center center">{{ getPlayerDraws(true) }}</div>
        </div>
    </div>

    <!-- ACTIONS DISPLAY -->
    <div fxFlex="45%" fxLayoutAlign="space-between center">
        <div class="result" fxFlex fxLayoutAlign="center center">
            <div *ngIf="playerChosenIcon" [ngStyle]="playerChosenIcon.styles" fxLayoutAlign="center center">
                <i [class]="playerChosenIcon.icon"></i>
            </div>
        </div>

        <!-- SPINNER & STATE HINTS -->
        <div *ngIf="!isOpponentMadeMove()" fxLayout="column" fxLayoutAlign="center center">
            <mat-spinner></mat-spinner>
            <p *ngIf="!playerChosenIcon">Waiting for your move...</p>
            <p *ngIf="playerChosenIcon">Waiting for opponent move...</p>
        </div>
        
        <p *ngIf="(output$ | async)?.displayIcons">{{(output$ | async)?.displayIcons}}</p>

        <!-- DISPLAY SIGN ICONS IN A LOOP TILL WINNER APPEARS -->
        <div class="result" fxFlex fxLayoutAlign="center center">
            <div *ngIf="isOpponentMadeMove(); else cyclingIcons" [ngStyle]="opponentChosenIcon?.styles">
                <i [class]="opponentChosenIcon?.icon"></i>
            </div>
            <ng-template #cyclingIcons>
                <div [ngStyle]="currentOpponentIcon.styles">
                    <i [class]="currentOpponentIcon.icon"></i>
                </div>
            </ng-template>
        </div>
    </div>

    <!-- DYNAMIC BUTTON -->
    <div fxFlex="28%" fxLayoutAlign="center center" fxLayoutGap="40px">
        <button mat-fab *ngFor="let sign of signs" [disabled]="this.playerChosenIcon" (click)="throw(sign.value)"
            [ngStyle]="!this.playerChosenIcon ? sign.styles : Sign.noStyles">
            <i class="{{ sign.icon }}"></i>
        </button>
    </div>

    <!-- INFO FIELD -->
    <div fxFlex="15%" class="message-section" fxLayout="column" fxLayoutAlign="start center">
        <div class="message-content" fxLayout="column">
            <!-- <p *ngIf="(output$ | async)?.displayIcons">{{(output$ | async)?.displayIcons}}</p> -->
            <p *ngIf="(output$ | async)?.winnerState">{{(output$ | async)?.winnerState}}</p>
            <!-- <p *ngIf="(output$ | async)?.scores">{{(output$ | async)?.scores}}</p> -->
        </div>
    </div>
</div>
