<div fxFlex fxLayout="column">

    <div class="board" fxFlex="12%" fxLayout="column">
        <div fxFlex fxLayout="row">
            <div class="board" fxFlex fxLayoutAlign="center center">{{ game.player1?.name }}</div>
            <div class="board" fxFlex fxLayoutAlign="center center">{{ game.player2?.name }}</div>
        </div>
        <div fxFlex fxLayout="row">
            <div class="board" fxFlex fxLayoutAlign="center center" *ngFor="let title of statTitles">{{ title }}</div>
        </div>
        <div fxFlex fxLayout="row">
            <div class="board" fxFlex fxLayoutAlign="center center">{{ game.player1?.rspWins }}</div>
            <div class="board" fxFlex fxLayoutAlign="center center">{{ game.player1?.rspGames }}</div>
            <div class="board" fxFlex fxLayoutAlign="center center">{{ game.player1?.rspDraws }}</div>
            <div class="board" fxFlex fxLayoutAlign="center center">{{ game.player2?.rspWins }}</div>
            <div class="board" fxFlex fxLayoutAlign="center center">{{ game.player2?.rspGames }}</div>
            <div class="board" fxFlex fxLayoutAlign="center center">{{ game.player2?.rspDraws }}</div>
        </div>
    </div>

    <div fxFlex="45%" fxLayoutAlign="space-between center">
        <div class="result" fxFlex fxLayoutAlign="center center">
            <ng-container *ngIf="chosenIcon">
                <i [class]="chosenIcon"></i>
            </ng-container>
        </div>
        <mat-spinner></mat-spinner>
        <div class="result" fxFlex fxLayoutAlign="center center">
            <ng-container *ngIf="chosenIcon">
                <i [class]="chosenIcon"></i>
            </ng-container>
        </div>
    </div>

    <div fxFlex="28%" fxLayoutAlign="center center" fxLayoutGap="40px">

            <button mat-fab color="primary" class="rock_btn"
                (click)="throw('Rock', 'fa-regular fa-hand-back-fist fa-4x')">
                <i class="fa-regular fa-hand-back-fist fa-4x"></i>
            </button>

            <button mat-fab color="primary" class="paper_btn" (click)="throw('Paper', 'fa-regular fa-hand fa-4x')">
                <i class="fa-regular fa-hand fa-4x"></i>
            </button>

            <button mat-fab color="primary" class="scissors_btn"
                (click)="throw('Scissors', 'fa-regular fa-hand-scissors fa-4x')">
                <i class="fa-regular fa-hand-scissors fa-4x"></i>
            </button>
    </div>

    <div fxFlex="15%" class="message-section" fxLayout="column" fxLayoutAlign="start center">
        <div class="message-content" fxLayout="column">
            <p *ngIf="(output$ | async)?.line1">{{(output$ | async)?.line1}}</p>
            <p *ngIf="(output$ | async)?.line2">{{(output$ | async)?.line2}}</p>
            <p *ngIf="(output$ | async)?.scores">{{(output$ | async)?.scores}}</p>
        </div>
    </div>
</div>