:host {
    height: 100%;
}

button {
    width: 80px;
    height: 80px;
    color: white;
}

button:hover {
    transform: scale(1.1);
}

.rock_btn {
    background-color: #f44336;
}

.paper_btn {
    background-color: #2196F3;
}

.scissors_btn {
    background-color: #6fb20c;
}


// TABLE BOARDERS [START]
.boarded {
    display: flex;
    flex-direction: column;
}

.boarded div {
    display: flex;
    flex-direction: row;
}

.boarded div div {
    /* Apply only top and left borders */
    border-top: 1px solid black;
    border-left: 1px solid black;
}

/* Add the right border only to the last child in a row */
.boarded div div:last-child {
    border-right: 1px solid black;
}

/* Add the bottom border only to the last row of cells */
.boarded div:last-child div {
    border-bottom: 1px solid black;
}
// TABLE BOARDERS [END]